body {
    font-family: 'Press Start 2P', cursive;
    color: white;
}


#main-ui-wrapper {
    display: none;
    justify-content: center; 
    align-items: center;     
    gap: 10px;               
    margin-top: 400px;        

}


/* Button */
.Skills {
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    border: transparent;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
}

.Skills:hover {
    color: yellow;
}

/* UI ATTACK */
.UI-ATTACK-container {
    border: 5px solid black;
    width: 200px;
    height: 180px;
    padding: 2px;
}

.UI-ATTACK-FIRST-BORDER {
    border: 5px solid white;
}

.UI-ATTACK-SECOND-BORDER {
    background-color: black;
    border: 5px solid black;
    height: 163px;
}

/* UI HP/MP */
.UI-hp-mp-container {
    border: 5px solid black;
    width: 100%;
    height: 185px;
}

.UI-hp-mp-FIRST-BORDER {
    border: 5px solid white;
}

.UI-hp-mp-SECOND-BORDER {
    background-color: black;
    border: 5px solid black;
    height: 160px;
}

/* Status */
.status-display-container {
    color: grey;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 300px;
    font-size: 25px;
}

.status-skills-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 300px;
    font-size: 25px;
}  

#log-content {
    /* This ensures the log doesn't push the borders around */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#log-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px; /* Small enough to fit the box */
    text-transform: uppercase;
}


/* bug */

#bug-hp {
    position: relative;
    top: 100px;
    color: black;
}

#you {
    position: relative;
    color: black;
}