body {
    background-color: black;
}


/*======================
        dialog
=======================*/
.overlay {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 90%;
    background: rgba(0, 0, 0, 0.4); /* Lighter dim like the image */
    justify-content: center;
    align-items: flex-end; /* Keeps it at the bottom like a game */
    padding-bottom: 0;
    z-index: 9999;
}

.vn-container {
    width: 100%;
    position: relative;
    margin: 0;
}

.name-tag {
    background: #0b0245; 
    border: rgb(116, 109, 109) 2px solid;
    border-bottom: none;
    color: white;
    padding: 8px 30px;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}

.dialog-box {
    background: #0b0245; /* Creamy white */
    border: 2px solid rgb(116, 109, 109); 
    padding: 30px;
    position: relative;
    min-height: 150px;
}

.evidence {
    position: absolute;
    top: 10px; right: 20px;
    background: transparent;
    border: 2px solid rgb(116, 109, 109);
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    
}

.dialog-text {
    color: #1e40af; /* Deep blue text color */
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

.error-line {
    font-family: monospace;
    background: #f1f5f9;
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.next-arrow {
    position: absolute;
    bottom: 20px; right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    animation: bounce 1s infinite;
}

.tutorial {
    position: absolute;
    bottom: 30px; right: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#message {
    color: white;
}

.clue-word {
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.clue-word:hover {
    background-color: yellow; /* Mag-hi-highlight kapag tinapatan ng mouse */
}